@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.text-gradient {
  background: -webkit-linear-gradient(255deg, #ffffff, #858484);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
